dist:
  module: github.com/honeycombio/opentelemetry-collector-configs
  name: supervised-collector
  description: Supervised Collector
  version: 0.0.11
  output_path: ./supervised-collector

extensions:
  - gomod: go.opentelemetry.io/collector/extension/zpagesextension v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/healthcheckextension v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/opampextension v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/extension/pprofextension v0.132.0
  - gomod: github.com/honeycombio/opentelemetry-collector-configs/honeycombextension v0.0.0-20250821215019-48f07307dc74

exporters:
  - gomod: go.opentelemetry.io/collector/exporter/debugexporter v0.132.0
  - gomod: go.opentelemetry.io/collector/exporter/nopexporter v0.132.0
  - gomod: go.opentelemetry.io/collector/exporter/otlpexporter v0.132.0
  - gomod: go.opentelemetry.io/collector/exporter/otlphttpexporter v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/exporter/awss3exporter v0.132.0
  - gomod: github.com/honeycombio/enhance-indexing-s3-exporter/enhanceindexings3exporter v0.0.1

processors:
  - gomod: go.opentelemetry.io/collector/processor/memorylimiterprocessor v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/filterprocessor v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/logdedupprocessor v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/redactionprocessor v0.132.0
  - gomod: github.com/open-telemetry/opentelemetry-collector-contrib/processor/transformprocessor v0.132.0
  - gomod: github.com/honeycombio/opentelemetry-collector-configs/usageprocessor v0.0.0-20250821215019-48f07307dc74
  - gomod: github.com/honeycombio/opentelemetry-collector-symbolicator/sourcemapprocessor v0.0.10

receivers:
  - gomod: go.opentelemetry.io/collector/receiver/nopreceiver v0.132.0
  - gomod: go.opentelemetry.io/collector/receiver/otlpreceiver v0.132.0

providers:
  - gomod: go.opentelemetry.io/collector/confmap/provider/envprovider v1.34.0
  - gomod: go.opentelemetry.io/collector/confmap/provider/fileprovider v1.34.0

# When using `make genotelcontribcol`, a `replaces` section is appended to this
# file before passing it to OCB, to ensure that local versions are used for all
# Contrib modules.
replaces:
  - github.com/honeycombio/opentelemetry-collector-configs/usageprocessor => github.com/honeycombio/opentelemetry-collector-configs/usageprocessor v0.0.0-20250821215019-48f07307dc74
  - github.com/openshift/api v3.9.0+incompatible => github.com/openshift/api v0.0.0-20180801171038-322a19404e37
  - github.com/honeycombio/enhance-indexing-s3-exporter/enhanceindexings3exporter => ../enhanceindexings3exporter
  - github.com/honeycombio/enhance-indexing-s3-exporter/index => ../index