version: 2.1

orbs:
  aws-cli: circleci/aws-cli@3.2.0

executors:
  docker-executor:
    docker:
      - image: cimg/base:current
        user: root

commands:
  setup-docker-ecr-login:
    description: "Sets up Docker, AWS cli, and calls Docker login"
    steps:
      - setup_remote_docker:
          privileged: true  # Required for Buildx
      - run:
          no_output_timeout: 30m
          name: Set up Docker Buildx
          command: |
            docker buildx create --use --name multiarch_builder
            docker buildx inspect --bootstrap  # Ensures everything is set up correctly
      - aws-cli/setup:
          role-arn: "arn:aws:iam::017118846235:role/circleci-sandbox-telemetry"
          role-session-name: "supervised-collector"
          aws-region: AWS_REGION
      - run:
          name: ECR login
          command: |
            aws ecr get-login-password --region us-east-1 \
              | docker login --username AWS --password-stdin "017118846235.dkr.ecr.us-east-1.amazonaws.com"

jobs:
  build_docker_arm64:
    executor: docker-executor
    resource_class: arm.medium
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:tAQ38CPmQnY3au8Td00jaHKtRutqvfPmCMcaM1z9x6Y"
      - run:
          name: Checkout indexer
          command: |
            git clone git@github.com:honeycombio/enhance-indexing-s3-exporter.git
            cd enhance-indexing-s3-exporter
            git fetch
            git checkout tyler.investigate-memory
      - setup-docker-ecr-login
      - when:
          condition: << pipeline.git.tag >>
          steps:
            - run:
                name: Export Dockerhub tag
                command: echo "export DOCKERHUB_TAG=\"-t honeycombio/supervised-collector:${CIRCLE_SHA1}-arm64\"" >> $BASH_ENV
            - run:
                name: Login to Docker Hub
                command: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
            - run:
                name: Export GitHub Container Registry tag
                command: echo "export GHCR_TAG=\"-t ghcr.io/honeycombio/supervised-collector:${CIRCLE_SHA1}-arm64\"" >> $BASH_ENV
            - run:
                name: Login to GitHub Container Registry
                command: echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_USERNAME --password-stdin
      - run:
          name: Build Docker Image (arm64)
          command: |
            docker buildx build \
              --platform linux/arm64 \
              --sbom=true \
              --provenance=true \
              --push \
              -t 017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:${CIRCLE_SHA1}-arm64 \
              ${DOCKERHUB_TAG} \
              ${GHCR_TAG} \
              .
  build_docker_amd64:
    executor: docker-executor
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "SHA256:tAQ38CPmQnY3au8Td00jaHKtRutqvfPmCMcaM1z9x6Y"
      - run:
          name: Checkout indexer
          command: |
            git clone git@github.com:honeycombio/enhance-indexing-s3-exporter.git
      - setup-docker-ecr-login
      - when:
          condition: << pipeline.git.tag >>
          steps:
            - run:
                name: Export Dockerhub tag
                command: echo "export DOCKERHUB_TAG=\"-t honeycombio/supervised-collector:${CIRCLE_SHA1}-amd64\"" >> $BASH_ENV
            - run:
                name: Login to Docker Hub
                command: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
            - run:
                name: Export GitHub Container Registry tag
                command: echo "export GHCR_TAG=\"-t ghcr.io/honeycombio/supervised-collector:${CIRCLE_SHA1}-amd64\"" >> $BASH_ENV
            - run:
                name: Login to GitHub Container Registry
                command: echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_USERNAME --password-stdin
      - run:
          name: Build Docker Image (amd64)
          command: |
            docker buildx build \
              --platform linux/amd64 \
              --sbom=true \
              --provenance=true \
              --push \
              -t 017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:${CIRCLE_SHA1}-amd64 \
              ${DOCKERHUB_TAG} \
              ${GHCR_TAG} \
              .
  publish_docker_to_ecr:
    executor: docker-executor
    steps:
      - checkout
      - setup-docker-ecr-login
      - run:
          name: Push Multi-Arch Docker Image
          command: |
            VERSION_FROM_GIT=$(git describe --tags --match='v[0-9]*' --always)
            VERSION_FROM_GIT=${VERSION_FROM_GIT#'v'}
            
            docker buildx imagetools create \
              -t 017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:$CIRCLE_SHA1 \
              -t 017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:$VERSION_FROM_GIT \
              -t 017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:latest \
              017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:${CIRCLE_SHA1}-amd64 \
              017118846235.dkr.ecr.us-east-1.amazonaws.com/supervised-collector:${CIRCLE_SHA1}-arm64

  publish_docker_to_dockerhub:
    executor: docker-executor
    steps:
      - setup-docker-ecr-login
      - run:
          name: Login to Docker Hub
          command: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
      - run:
          name: Build and Push Multi-Arch Docker Image
          command: |
            docker buildx imagetools create \
              -t honeycombio/supervised-collector:$CIRCLE_TAG \
              -t honeycombio/supervised-collector:latest \
              honeycombio/supervised-collector:$CIRCLE_SHA1-amd64 \
              honeycombio/supervised-collector:$CIRCLE_SHA1-arm64

  publish_docker_to_ghcr:
    executor: docker-executor
    steps:
      - setup-docker-ecr-login
      - run:
          name: Login to GitHub Container Registry
          command: echo $GITHUB_TOKEN | docker login ghcr.io -u $GITHUB_USERNAME --password-stdin
      - run:
          name: Build and Push Multi-Arch Docker Image
          command: |
            docker buildx imagetools create \
              -t ghcr.io/honeycombio/supervised-collector:$CIRCLE_TAG \
              -t ghcr.io/honeycombio/supervised-collector:latest \
              ghcr.io/honeycombio/supervised-collector:$CIRCLE_SHA1-arm64 \
              ghcr.io/honeycombio/supervised-collector:$CIRCLE_SHA1-amd64

workflows:
  version: 2
  build:
    jobs:
      - build_docker_arm64:
          context: Honeycomb Secrets for Public Repos
          filters:
            tags:
              only: /.*/
      - build_docker_amd64:
          context: Honeycomb Secrets for Public Repos
          filters:
            tags:
              only: /.*/
      - publish_docker_to_ecr:
          context: Honeycomb Secrets for Public Repos
          requires:
            - build_docker_arm64
            - build_docker_amd64
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /pull\/.*/
      - publish_docker_to_dockerhub:
          context: Honeycomb Secrets for Public Repos
          requires:
            - publish_docker_to_ecr
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish_docker_to_ghcr:
          context: Honeycomb Secrets for Public Repos
          requires:
            - publish_docker_to_ecr
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
